.page-container-blogposts {
    max-width: 1000px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}